fastapi
uvicorn
python-multipart
PyPDF2
python-docx
qdrant-client
fastembed
python-dotenv
spacy
en_ner_bc5cdr_md @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.4/en_ner_bc5cdr_md-0.5.4.tar.gz
